body{
      color: black;
      margin: 0;
      font-family: "Comfortaa", sans-serif;
      font-optical-sizing: auto;
}
a{text-decoration: none;color: rgb(0, 0, 0); }
a:hover{text-decoration: underline;  }
button:hover{
  cursor: pointer;
}

/* navbar */
#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    background-color: transparent;
}
.navbar-brand > h3{color: rgb(0, 0, 0);}
#navbar > div{align-items:end;}
.navbar-brand{
    color: rgb(0, 0, 0);
    margin: auto 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.navbar-brand a{
    color: rgb(0, 0, 0);
}
.navbar-brand > div{
    margin: 10px;
}
.navbar-links > a{color: rgb(0, 0, 0);margin: 0 10px;}
#hamburger-menu-button{
    font-size: 2rem;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    visibility:hidden;
}
#navbar-menu{
    text-align:right;
    margin:auto;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(80,80,120,1) 6%, rgb(13, 17, 17) 100%); 
}
#navbar-close-button{
    margin: 5px 0;
    border: none;
    outline: 0;
    font-size: 2rem;
    color: white;
    background-color: transparent;
}
#navbar-menu-links{
    color: white;
    padding: 100px 0;
    text-align: center;
}
#navbar-menu-links > h2{
    margin: 60px 0;
}

/* hero */
#main-section{
    /* margin-top: -21px; */
    width: 100vw;
    position: relative;
}
#hero-section{
    margin: auto;
    background-color: white;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}
#about-img{
    margin-bottom: 50px;
}
#about-section-text{
    width: 70%;
    margin: auto;
    align-items: center;
    text-align: center;
}
#about-section-text > p{ text-align: justify;}
#about-section-text > p> a{ color: rgb(34, 110, 172); font-style: italic; text-decoration: underline;}

/* responsive view */
@media screen and (min-width: 866px) {
    #hamburger-menu-button{
        visibility: hidden;
    }
  }

  @media screen and (max-width: 865px) {
    #about-section-text{
        width: 90%;
    }
    #hero-section-main{
      display: flex;
      flex-direction: column;
    }
    .navbar-brand > div > h3{
        font-size: 0px;
        visibility: collapse;
    }
    .navbar-links{
      visibility: hidden;
    }
    #hamburger-menu-button{
        visibility:visible;
    }
    #about-img{
        width:350px
    }
  }